<div class="artwork-card animated-background row justify-content-between">
  <div class="col-lg-5 ps-5 col-md-4">
    <div
      class="artwork-text card-img-overlay card-img-overlay-md p-4 d-md-flex flex-md-column"
    >
      <h1 class="text-white mb-md-2 pt-md-5 p-4">Think...</h1>
      <p class="muted-text-background mt-md-5 p-4 mt-5">
        With school turning out more runners, jumpers, racers, tinkerers,
        grabbers, snatchers, fliers, and swimmers instead of examiners, critics,
        knowers, and imaginative creators, the word 'intellectual,' of course,
        became the swear word it deserved to be.<br />
        <br />
        <cite title="Source Title pt-2">― Ray Bradbury, Fahrenheit 451</cite>
      </p>
    </div>
  </div>
  <div class="col-md-auto p-0">
    <div class="svg-container"></div>
  </div>
</div>
